[package]
name = "bex"
version = "0.1.3"
authors = ["tangentstorm <michal.wallace@gmail.com>"]
description = "A rust library for working with boolean expressions (expression trees, decision diagrams, etc.)"
documentation = "https://docs.rs/bex/"
repository = "https://github.com/tangentstorm/bex"
keywords = ["bdd", "diagram"]
categories = ["algorithms", "data-structures"]
license = "MIT"
readme = "README.md"

[lib]
name = "bex"

[[bin]]
name = "bex-shell"
path = "examples/bex-shell.rs"

[[bin]]
name = "bdd-solve"
path = "examples/bdd-solve.rs"

[features]
noswarm = []

[dependencies]
serde = "1.0"
serde_derive = "1.0"
bincode = "1.0"
fnv = "1.0"
log = { version = "0.4", features = ["max_level_debug"]}
simplelog = "0.5"
num_cpus = "1.0"

[dependencies.hashbrown]
version = "0.1"
features = ["serde"]

[dev-dependencies]
bencher = "0.1.5"

[[bench]]
name = "bench-solve"
harness = false
